*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
}

img{
    max-width: 100%;
}

.container{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
}



.top__panel{
    padding: .2rem 0 ;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
}

.top__item a{
    color: #000;
}

.top__list1{
   
    list-style: none;
    display: flex;
}

.top__list2{
 
    list-style: none;
    display: flex;
}


.top__item:last-child{
    border-left: 1px solid #000;
    padding-left: 0.8rem;
}

.top__item + .top__item{
    margin-left: 0.8rem;
}

.searchbox{
    border-top: 1px solid #e2e2e2;
    padding: 0.5rem;
    display: flex;
}

.search{
    margin-left: 2rem;
    width: 50%;
    
}

input{
    width: 100%;
    border: 1px solid #613f99;
    padding: 0.5rem;
    resize: none;
    font-size: 0.7rem;
    font-family: Arial,Helvetica,sans-serif;
  
}

.searchicon{
   
    padding: .5em .8em;
    background-color: #613f99;
   color: #fff;
    border-radius: 5px ;
    cursor: pointer;
    
}


.nav{
    padding: .79em;
    background-color: #3da89f;
    color: #fff;
    box-shadow: 0 5px 11px -1px rgb(0 0 0 / 26%);
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}



.nav__link {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;
}

.nav__link:hover {
    background-color: #613f99;
}


.card__text{
    margin: 0 auto;
    letter-spacing: 1.4rem;
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
}

.gif{
    margin-top: -5px;
}

.products{
    background-color: #fafafa;
    padding: 3em 0;
    cursor: pointer;
}

.products__col{
    width: 15%;
    text-align: center;
}

.whitebg img:hover img{
    transform: .5s ease;

}

.whitebg:hover img{
    transform: scale(1.2);
}

.whitebg{
    background-color: #fff;
    height: 230px;
    overflow: hidden;
}

.price{
    color: #3da89f;
    
}

.price__before{
    color: #000;
    text-decoration: line-through;
    font-size: 14px;
    margin-right: 5px;
}

.category{
    background-color: #543885;
    padding: 3em 0;
}

.felx__cols{
    display: flex;
    flex-direction: column;
}

.category__row{
    display: flex;
    justify-content: space-between;
}

.category__row + .category__row{
    margin-top: 1rem;
}

.category__col{
    width: 15%;
    cursor: pointer;
}

.category__image{
    background-color: #fff;
}

.category__image img{
    padding: .5rem;
}

.category p{
    background-color: #00ad97;
    margin-top: 0;
    padding: .5em .5em 1.5em;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.deals{
    padding: 2rem 0;
}


.deals__col1{
    cursor: pointer;
    width: 38.7%;
}

.deals__col2{
    cursor: pointer;
    width: 36.7%;

}

.deals__col3{
    cursor: pointer;
    width: 23.7%;
}

.services{
    background-color: #fafafa;
    text-align: center;
    padding: 0rem 0;
    border: 1px solid #e2e2e2;
    border-left: 0;
    border-right: 0;
}

.services__col{
    border-right: 1px solid #e2e2e2;
    align-self: center;
    padding: 2em;
    width: 25%;
}

.services img{
    width: 20%;
}

.services p{
    font-size: 0.9rem;
}

.last{
    border-right: 0;
}

footer{
    padding: 2em 0 0;
    background-color: #f3f3f3;
}

.foot__col{
    width: 16.66%;
    border-right: 1px solid #e2e2e2;
    padding: 1rem;
    font-size: 0.7rem;
    color: #888;
}

.foot__col h4{
    color: rgb(19, 16, 16);
    
}

.foot__heading{
    text-align: center;
}

.foot__col ul{
    padding-left: 0;

}

.foot__col li{
    list-style: none;
    margin-top: 10px;
    cursor: pointer;
}


.foot__col i{
    padding-right: 0.5rem;
    
}

.facebook{
    color: #4267B2;
}

.instagram, .youtube{
    color: red;
}

.foot__col li:hover{
    color:  #3da89f;
}

.copyright{
    background-color: #ededed;
    text-align: center;
    padding: 1rem;
    font-size: 0.7rem;
    color: #888;
}

.blue__text{
    color: #3da89f;
    text-align: center;
    font-weight: 600;
}


@media (max-width : 1275px){
    
    .row{
        display: block;
    }

    .top__list1{
        display: none;
    }

    .top__list2{
        margin: 0 auto;
        font-size: 1rem;
        padding: 0.5rem;
        color: #613f99
    }

    .top__list2 li:hover{
        text-decoration: underline;
        
    }
    

    .searchbox{
       display: block;
    }

    .logo{
        margin: 0 auto;
        width: 50%;
    }

    .search{
        margin-left: 0;
        width: 80%;
        margin:0 auto;
        float: left;
    }
    

    input{
        width: 100%;
        margin: 0 auto;
        
    }

    .search__icon{
        display: inline-block;
    }

    .nav{
        display: none;
    }
    

    .card__text{
        letter-spacing: 1rem;
        font-size: 0.7em;
        text-align: center;
    }
    

    .products__col{
        width: 48%;
        height: auto;
        display: inline-block;
        margin-top: 0;
    }

    .whitebg{
        height: 300px;
    }

    .felx__cols,
    .category__row{
        display: inline-block;
        width: 100%;
      
    }

   

    .category__col{
        width: 49%;
        display: inline-block;
    }

    .category__image{
        width: 100%;
    }

    .category__image img{
        width: 100%;
    }

    .deals__col1,
    .deals__col2,
    .deals__col3{
        width: 100%;
    }
    
    .deals img{
        width: 100%;
        margin-top: 1.5rem;
    }

    .services__col{
        width: 100%;
        border-top: 1px solid #e2e2e2;
        border-right: 0;
    }

    .last{
        border-bottom: 1px solid #e2e2e2;
    }

    .foot__col{
        width: 100%;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #e2e2e2;
    }

    .foot__col img{
        margin: 0 auto;
        align-self: center;
        
    }
}